<!-- =============== APP ADMIN LAYOUT ==================== -->
<!DOCTYPE html>
<html lang="fr" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:fragment="header">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <title layout:title-pattern="$LAYOUT_TITLE | $CONTENT_TITLE">C'perf</title>
  <!-- Custom fonts for this template-->
  <link th:href="@{/lib/fontawesome-free/css/all.min.css}" rel="stylesheet" type="text/css"/>
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template-->
  <link th:href="@{/css/sb-admin-2.min.css}" type="text/css" rel="stylesheet">
  <link th:href="@{/css/style.css}" type="text/css" rel="stylesheet">
    <link th:href="@{/getorgchart/getorgchart.css}" rel="stylesheet" />
    <!-- datepicker css -->
  <link rel="stylesheet" type="text/css" th:href="@{/css/plugins/tempusdominus-bootstrap-4.css}"/>
  <link rel="stylesheet" type="text/css" th:href="@{/css/plugins/bootstrap-timepicker.css}"/>
  <link rel="stylesheet" type="text/css" th:href="@{/css/plugins/angular-datepicker.css}"/>
  <style th:fragment="addon-styles-content"></style>
  
  <!-- -- [SCRIPT] -->
    <script th:src="@{/getorgchart/getorgchart.js}"></script>
  <!-- Bootstrap core JavaScript-->
  <script th:src="@{/lib/jquery/jquery.min.js}"></script>

  <!-- Core plugin JavaScript-->
  <script th:src="@{/lib/jquery-easing/jquery.easing.min.js}"></script>
    <!-- angular -->
  <script th:src="@{/js/plugins/angular.min.js}"></script>
  <script th:src="@{/js/plugins/angular-strap.min.js}"></script>
  <script th:src="@{/js/plugins/angular-strap.tpl.min.js}"></script>
  <script th:src="@{/js/app_ng.js}"></script>
</head>

<body id="page-top" data-ng-app="Cperf">

  <!-- Page Wrapper -->
  <div id="wrapper">

    <!-- Sidebar -->
	<nav class="navbar navbar-expand navbar-dark bg-dark static-top"
		th:replace="fragments/main_sidebar::main_sidebar"></nav>
    <!-- End of Sidebar -->
    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">
        <!-- Topbar -->
        <nav th:replace="fragments/main_topbar::main_topbar"></nav>
        <!-- End of Topbar -->
		
	
		<!-- Page Heading --
		<div class="d-sm-flex align-items-center justify-content-between mb-4" th:fragment="heading"></div>
        <!-- Begin Page Content -->
        <div class="container-fluid" layout:fragment="content">
        </div>
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->

      <!-- Footer -->
      <footer class="sticky-footer bg-white">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span>Copyright &copy; 2019 All Right Reserved designed by <a target="_blank" href="https://www.snsoftware.com">SnSoftware</a></span>
          </div>
        </div>
      </footer>
      <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Logout Modal-->
  <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
          <a class="btn btn-primary" href="login.html">Logout</a>
        </div>
      </div>
    </div>
  </div>
  <!-- end modal alert danger action -->
  <script th:src="@{/js/plugins/popper.min.js}"></script>
  <script th:src="@{/js/plugins/bootstrap.min.js}"></script>

  <!-- Custom scripts for all pages-->
  <script th:src="@{/js/sb-admin-2.min.js}"></script>
  <script th:src="@{/lib/js/mshz.form_validator.js}"></script>
  <script th:src="@{/js/main.js}"></script>
  <!-- datepicker scripts -->
  <script type="text/javascript" th:src="@{/js/plugins/moment.js}"></script>
  <script type="text/javascript" th:src="@{/js/plugins/tempusdominus-bootstrap-4.js}"></script>
  <script type="text/javascript" th:src="@{/js/plugins/datepicker.js}"></script>
  <script type="text/javascript" th:src="@{/js/plugins/angular-datepicker.js}"></script>
  <div layout:fragment="addon-scripts-content"></div>
</body>
</html>