<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8" />
<title>Insert title here</title>
</head>
<body>
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar" th:fragment="main_sidebar">

      <!-- Sidebar - Brand -->
      <a class="sidebar-brand d-flex align-items-center justify-content-center" th:href="@{/}">
        <div class="sidebar-brand-icon rotate-n-15">
          <i class="fas fa-laugh-wink"></i>
        </div>
        <div class="sidebar-brand-text mx-3">C'perf</div>
      </a>

      <!-- Divider -->
      <hr class="sidebar-divider my-0">

      <!-- Nav Item - Dashboard -->
      <li class="nav-item active">
        <a class="nav-link" th:href="@{/}">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>Tableau de bord</span></a>
      </li>

      <!-- Divider -->
      <hr class="sidebar-divider">

      <!-- Heading -->
      <div class="sidebar-heading">
        Interface
      </div>

      <!-- Nav Item - Pages Collapse Menu -->
     <li class="nav-item" sec:authorize="hasRole('ROLE_admin')">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
          <i class="fas fa-users"></i>
          <span>Organigramme</span>
        </a>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
           <!--  <h6 class="collapse-header">Custom Components:</h6> -->
           <a class="collapse-item" th:href="@{/Organigramme/}">Exploration</a>
            <a class="collapse-item" th:href="@{/Organigramme/Others/}">Autres utilisateurs</a>
          </div>
        </div>
      </li>
     <li class="nav-item" sec:authorize="hasRole('ROLE_admin')">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapselogigramme" aria-expanded="true" aria-controls="collapselogigramme">
          <i class="fas fa-sitemap"></i>
          <span>Process</span>
        </a>
        <div id="collapselogigramme" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
           <!--  <h6 class="collapse-header">Custom Components:</h6> -->
           <a class="collapse-item" th:href="@{/Process/Edit/}">Créer un process</a>
           <a class="collapse-item" th:href="@{/Process/List/}">Lister les process</a>
          <!--  <a class="collapse-item" th:href="@{/Process/Logigramme/}">Afficher</a> -->
            <!-- <a class="collapse-item" th:href="@{/Organigramme/Others/}">Autres utilisateurs</a>-->
          </div>
        </div>
      </li>
      <li class="nav-item" sec:authorize="hasRole('ROLE_admin')">
        <a class="nav-link" th:href="@{/Procedure/}">
          <i class="fas fa-procedures"></i>
          <span>Procedures</span>
        </a>
      </li>
      <li class="nav-item" sec:authorize="hasRole('ROLE_admin')">
        <a class="nav-link" th:href="@{/Organigramme/}">
          <i class="fas fa-mars-stroke"></i>
          <span>Objectifs / Indicateurs</span>
        </a>
      </li> 
      <li class="nav-item">
        <a class="nav-link" th:href="@{/Task/}">
          <i class="fas fa-thumbtack"></i>
          <span>Vos tâches</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" th:href="@{/Performance/}">
          <i class="fab fa-accusoft"></i>
          <span sec:authorize="hasRole('ROLE_admin')">Perfomances / Evalutaion</span>
          <span sec:authorize="!hasRole('ROLE_admin')">Vos Objectifs et indicateurs</span>
        </a>
      </li>
     <li class="nav-item" sec:authorize="hasRole('ROLE_hjklmlkjhg')">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseImpact" aria-expanded="true" aria-controls="collapseImpact">
          <i class="fas fa-map-signs"></i>
          <span>Impact</span>
        </a>
        <div id="collapseImpact" class="collapse" aria-labelledby="collapseImpact">
          <div class="bg-white py-2 collapse-inner rounded">
           <!--  <h6 class="collapse-header">Custom Components:</h6> -->
           <a class="collapse-item" th:href="@{/Impact/History}">Historique</a>
            <a class="collapse-item" th:href="@{/Organigramme/Others/}">Process encours</a>
          </div>
        </div>
      </li> 
     <li class="nav-item" sec:authorize="hasRole('ROLE_admin')">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collpaseAdmin" aria-expanded="true" aria-controls="collpaseAdmin">
          <i class="fas fa-fw fa-cog"></i>
          <span>Paramêtres</span>
        </a>
        <div id="collpaseAdmin" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
           <!--  <h6 class="collapse-header">Custom Components:</h6> -->
           <a class="collapse-item" th:href="@{/Objectif/Type/}">Types d'objectifs</a>
           <a class="collapse-item" th:href="@{/Objectif/Indicator/Type}">Types des indicateurs</a>
          </div>
        </div>
      </li>
     <li class="nav-item" sec:authorize="hasRole('ROLE_admin')">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collpaseSettings" aria-expanded="true" aria-controls="collpaseSettings">
         <i class="fas fa-users-cog"></i>
          <span>Administration</span>
        </a>
        <div id="collpaseSettings" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
           <!--  <h6 class="collapse-header">Custom Components:</h6> -->
           <a class="collapse-item" th:href="@{/Admin/Role/}">Géstion des profiles</a>
           <a class="collapse-item" th:href="@{/Admin/Group/}">Géstion des groupes</a>
           <a class="collapse-item" th:href="@{/Admin/User/}">Géstion des utilisateurs</a>
          </div>
        </div>
      </li>
      <!-- <li class="nav-item">
        <a class="nav-link" th:href="@{/Organigramme/}">
          <i class="fas fa-fw fa-cog"></i>
          <span>Organigramme</span>
        </a>
      </li> -->
      <!-- Divider -->
      <hr class="sidebar-divider d-none d-md-block">

      <!-- Sidebar Toggler (Sidebar) -->
      <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
      </div>

    </ul>
</body>
</html>