<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8" />
<title>Insert title here</title>
</head>
<body>
<!-- Modal task validation file editor-->
<div th:fragment="modalTaskValidationFile" class="modal fade" id="modalTaskValidationFile" 
	 tabindex="-1" role="dialog" aria-labelledby="modalTaskValidationFile" aria-hidden="true">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h5 class="modal-title" id="modalTaskValidationFileTile">Fichier de validation</h5>
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	      <div class="modal-body text-center insc_avatar">
			<div class="row">
				<div class="col-sm-12 text-center border-0">
					<a id="taskValidationFileBtnShower" href="#" target="_blank" class="text-decoration-none">
						<i class="fa fa-file fa-lg" title="voire le fichier ajouté"></i><br/><small class="text-info"> Un fichier trouvé</small>
					</a>
				</div>
				<div class="col-sm-12 text-center border-0 border-top">
			       	<form method="post" enctype="multipart/form-data" class="form-control border-0 mshz-form-validate" id="taskValidationFileForm">
			       		<div class="form-group text-center text-danger modalErrorContainer"></div>
			       		<div class="form-group">
			       			<input type="hidden" name="taskId" id="validationFormtaskId"/>
		       				<input type="file" name="file" class="float-left w-75 img_field_trigger" accept="application/pdf" data-mshz-required="true"/>
		       				<button type="submit" class="btn btn-sm btn-outline-info float-right w-25">Envoyez</button>
			       		</div>
			       	</form>
				</div>
			</div>
	      </div>
	    </div>
	  </div>
	</div>
</body>
</html>