<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/main.html}">
<head>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">
<title>logigramme</title>
	<script type="text/javascript" th:src="@{/js/plugins/jquery.js}"></script>
	<script type="text/javascript" th:src="@{/js/plugins/svg.js}"></script>
	<script type="text/javascript" th:src="@{/js/plugins/mshz-chart.js}"></script>
	<script type="text/javascript" th:src="@{/js/logigramme.js}"></script>
</head>
<body>
	<div class="container-fluid" layout:fragment="content">
		<!-- Page Heading -->
		<div
			th:replace="fragments/main_content_heading::heading(heading_text='Logigramme',heading_link='/Process/List/',heading_link_text='Liste des process',heading_ico='fas fa-arrow-alt-circle-left')"></div>
		<!--<h1 style="margin-top:150px; text-align:center"></h1>-->
		<!-- <div class="text-center" th:if="${pocess}">
			<input type="hidden" th:value="${pId}" id="pid_content"/>
			<div id="drawing" style="margin: 30px auto; width: 900px;" class=""></div>
		</div> -->
		<!-- end static table -->
		<div class="text-center" th:if="${process}" id="drawing">
			<table class="table table-sm table-bordered bg-white">
				<thead>
					<tr>
						<th colspan="2" class="p-1 text-center">
							<div class="row">
								<div class="col-sm-12 d-block d-md-none text-center">
									<span class="d-inline-block badge badge-info chrono_span"></span><br/>
									<small class="chrono_span_text"></small>
								</div>
								<div class="col-sm-12 col-md-9 text-center">
									<h5 th:text="${process.label}" class="text-info"></h5>
									<small><span th:if="${process.description}" th:text="${'( '+process.description+' )'}"></span></small>
								</div>
								<div class="d-none d-md-block col-md-3 text-center">
									<div class="badge chrono_span w-50 mt-1"></div><br/>
										<small class="chrono_span_text"></small>
								</div>
							</div>
							<input type="hidden" th:value="${#dates.format(process.startAt, 'yyyy-MM-dd HH:mm')}" id="startDateContainer"/>
							<input type="hidden" th:value="${#dates.format(process.maxDate, 'yyyy-MM-dd HH:mm')}" id="endDateContainer"/>
							<input type="hidden" th:value="${process.isFinished}" id="isfinishContent"/>
						</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="section : ${process.sections}">
						<!-- uses td -->
						<td th:if="${section.tasks.size()>0}" style="width:15%;" class="pt-5">
							<div class="w-100 text-center">
								<svg th:each="user: ${section.users()}" height="30" width="200" class="mt-1 text-danger" style="font-size:13px;">
									 <text x="0" y="10" th:fill="${'grey'}" th:text="${user.firstname + ' ' +user.lastname}">I love SVG!</text>
								</svg>
							</div>
						</td>
						<td class="pt-5">
							<div th:if="${section.tasks.size()>0}" th:each="task : ${section.tasks}" class="d-inline-block w-25 text-center">
							<svg width="150" height="50" th:id="${'task'+task.id}" th:data-labelClasSelector="${'.task_label'+task.id}"
							 th:if="${#strings.equalsIgnoreCase(task.type, 'start')}" th:data-yes="${task.status=='completed' ? 'true' : 'false'}" class="mb-5">
								<rect width="150" height="50" 
								 th:fill="${task.status=='valid' ? 'transparent' : (task.status=='completed') ? '#74F767' : (task.status=='started') ? 'orange' : '#f77467'}"
								 stroke-width="2" th:stroke="${task.status=='valid' ? 'grey' : (task.status=='completed') ? 'green' : (task.status=='started') ? '#F8FA98' : 'red'}" rx="20" ry="20"/>
							</svg>
							<svg width="150" height="50" th:id="${'task'+task.id}" th:data-labelClasSelector="${'.task_label'+task.id}"
							 th:if="${#strings.equalsIgnoreCase(task.type, 'process')}" th:data-yes="${task.status=='completed' ? 'true' : 'false'}" class="mb-5">
							<rect width="150" height="50" fill="transparent" 
								th:fill="${task.status=='valid' ? 'transparent' : (task.status=='completed') ? '#74F767' : (task.status=='started') ? 'orange' : '#f77467'}"
								 stroke-width="4" stroke="black" th:stroke="${task.status=='valid' ? 'grey' : (task.status=='completed') ? 'green' : (task.status=='started') ? '#F8FA98' : 'red'}"/>
							</svg>
							<svg width="150" height="50" th:id="${'task'+task.id}" th:data-labelClasSelector="${'.task_label'+task.id}"
							 th:if="${#strings.equalsIgnoreCase(task.type, 'sub_process')}" th:data-yes="${task.status=='completed' ? 'true' : 'false'}" class="mb-5">
							 <polyline points="0,0 0,50 10,50 10,0 0,0 140,0 140,50 0,50 150,50 150,0 140,0" style="fill:none;stroke:black;stroke-width:4" 
								th:style="${((task.status=='valid') ? 'fill:none;stroke:grey' : (task.status=='completed') ? 'fill:#74F767;stroke:green' : (task.status=='started') ? 'fill:orange;stroke:#F8FA98' : 'fill:#f77467;stroke:red')+';stroke-width:3'}"/>
							</svg>
							<svg width="150" height="50" th:id="${'task'+task.id}" th:data-labelClasSelector="${'.task_label'+task.id}"
							 th:if="${#strings.equalsIgnoreCase(task.type, 'decision')}" th:data-yes="${task.status=='completed' ? 'true' : 'false'}" class="mb-5">
							 <polyline points="0,25 75,0 150,25 75,50 0,25" style="fill:none;stroke:black;stroke-width:3" 
								th:style="${((task.status=='valid') ? 'fill:none;stroke:grey' : (task.status=='completed') ? 'fill:#74F767;stroke:green' : (task.status=='started') ? 'fill:orange;stroke:#F8FA98' : 'fill:#f77467;stroke:red')+';stroke-width:3'}"/>
							</svg>
							<svg width="150" height="50" th:id="${'task'+task.id}" th:data-labelClasSelector="${'.task_label'+task.id}"
							 th:if="${#strings.equalsIgnoreCase(task.type, 'doc')}" th:data-yes="${task.status=='completed' ? 'true' : 'false'}" class="mb-5">
								 <polyline points="0,0 8,25 0,50 150,50 142,25 150,0, 0,0" style="fill:none;stroke:black;stroke-width:3"
								th:style="${((task.status=='valid') ? 'fill:none;stroke:grey' : (task.status=='completed') ? 'fill:#74F767;stroke:green' : (task.status=='started') ? 'fill:orange;stroke:#F8FA98' : 'fill:#f77467;stroke:red')+';stroke-width:3'}"/>
							</svg>
							<svg width="150" height="50" th:id="${'task'+task.id}" th:data-labelClasSelector="${'.task_label'+task.id}"
							 th:if="${#strings.equalsIgnoreCase(task.type, 'finish')}" th:data-yes="${task.status=='completed' ? 'true' : 'false'}" class="mb-5">
								<rect width="150" height="50" fill="transparent"
									th:fill="${task.status=='valid' ? 'transparent' : (task.status=='completed') ? '#74F767' : (task.status=='started') ? 'orange' : '#f77467'}"
								 stroke-width="4" stroke="black" rx="20" ry="20"
								 th:stroke="${task.status=='valid' ? 'grey' : (task.status=='completed') ? 'green' : (task.status=='started') ? '#F8FA98' : 'red'}"/>
							</svg>
							<!-- labels -->
							<div style="width:150px;height:50px;overflow: auto; scroll:auto;cursor:pointer" class="d-inline-block p-1" 
								data-toggle="popover" data-trigger="hover" data-placement="bottom" 
								 th:title="Description" th:data-content="${task.description !=null ? task.description : ''}">
								<a th:if="${task.fileDescriptionPath != null}" th:href="@{/Task/File/Description/Show/{id}(id=${task.id})}" target="_blank" 
									th:class="${'task_label'+task.id+' align-text-middle'}"  th:text="${task.name}"></a>
								<span th:if="${task.fileDescriptionPath == null}"  th:class="${'task_label'+task.id+' align-text-middle'}" th:text="${task.name}"></span>
							</div>
							</div>
						</td>
						<!-- end task td -->
					</tr>
				</tbody>
			</table>
			<div class="" th:each="section :${process.sections}">
				<div th:each="task :${section.tasks}">
					<!-- line and pointer -->
					<div th:if="${task.chirlds.size()>0}">
						<div th:each="t :${task.chirlds}" th:id="${'drawing_task_lin'+t.id}" class="svgPointerLink" 
						th:data-svgSrcSelector="${'#task'+task.id}" 
						th:data-svgTargetSelector="${'#task'+t.id}"></div>
					</div>
				</div>
			</div>
		<!--</div>-->
		<h5 class="text-center text-info" th:if="!${process}">Process introuvable</h5>
	</div>
	</div>
	<div layout:fragment="addon-scripts-content">
	</div>
</body>
</html>
