<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<title>Rénitialisation du mot de passe</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->
<link rel="icon" type="image/png" th:href="@{images/icons/favicon.ico}" />
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css"
	th:href="@{/css/plugins/bootstrap.min.css}">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css"
	th:href="@{/fonts/font-awesome-4.7.0/css/font-awesome.min.css}">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css"
	th:href="@{/fonts/iconic/css/material-design-iconic-font.min.css}">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" th:href="@{/css/animate.css}">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css"
	th:href="@{/css/hamburgers.min.css}">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css"
	th:href="@{/css/animsition.min.css}">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" th:href="@{/css/select2.min.css}">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css"
	th:href="@{/css/daterangepicker.css}">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" th:href="@{/css/util.css}">
<link rel="stylesheet" type="text/css" th:href="@{/css/main.css}">
<!--===============================================================================================-->
<!-- [--- scripts--] -->

<!--===============================================================================================-->
<script th:src="@{/js/plugins/jquery.js}"></script>
<!--===============================================================================================-->
<script th:src="@{/js/animsition.min.js}"></script>
<!--===============================================================================================-->
<script th:src="@{/js/plugins/popper.js}"></script>
<script th:src="@{/js/plugins/bootstrap.min.js}"></script>
<!--===============================================================================================-->
<script th:src="@{/js/select2.min.js}"></script>
<!--===============================================================================================-->
<script th:src="@{/js/moment.min.js}"></script>
<script th:src="@{/js/daterangepicker.js}"></script>
<!--===============================================================================================-->
<script th:src="@{js/countdowntime.js}"></script>
<!--===============================================================================================-->
<script th:src="@{/js/plugins/mshz.form_validator.js}"></script>
<!-- Angular JS -->
<script th:src="@{/js/plugins/angular.min.js}"></script>
</head>
<body class="bg-img">
	<div class="container-login100"></div>
	<div class="row">
		<div class="d-none d-md-block col-md-4"></div>
		<div class="col-sm-12 col-md-4 mt-5">
			<div class="wrap-login100 mt-5">
				<form class="login100-form validate-form "
					th:object="${passwordForm}"
					th:action="@{/resetPassword/{token}(token=${token})}" method="post">
					<div class="mb-5 d-inline-block text-center text-white"
						th:text="${msg}"></div>
					<div class="text-center text-warning w-100 mb-1"
						th:if="${notFoudEmail}">
						<small>Adresse email introuvable !</small>
					</div>
					<div class="mb-2 d--block text-center text-warning"
						th:text="${error}"></div>
					<div class="wrap-input100 validate-input col-sm-12"
						data-validate="Entrez votre email">
						<input class="input100" type="text" name="email"
							placeholder="Adrèsse email" th:field="*{email}" /> <span
							class="focus-input100" data-placeholder="&#xf207;"></span>
					</div>
					<div class="wrap-input100 validate-input col-sm-12 form-group"
						data-validate="Entrez le mot de passe" th:if="${userEmail}">
						<input class="input100" id="password" type="password"
							name="password" placeholder="Mot de passe" th:field="*{password}" />
						<span class="focus-input100" data-placeholder="&#xf191;"></span>
					</div>
					<div class="wrap-input100 validate-input col-sm-12 form-group"
						data-validate="Confirmez le mot de passe" th:if="${userEmail}">
						<input class="form-control input100 border-0" id="passwordConf"
							type="password" name="passwordConf"
							placeholder="Confirmez le mot de passe"
							data-mshz-equals="#password" data-mshz-required="true"
							th:field="*{passwordConfirm}" /> <span class="focus-input100"
							data-placeholder="&#xf191;"></span>
						<div class="invalid-feedback">
							<small class="text-warning">Le mot de passe ne correspond
								pas </small>
						</div>
					</div>

					<div class="container-login100-form-btn">
						<button class="login100-form-btn" th:if="${userEmail}">
							Reinitialiser</button>
						<button class="login100-form-btn" th:if="!${userEmail}">
							Envoyer</button>
					</div>

					<div class="text-center p-t-90">
						<a class="txt1" th:href="@{/register}"> Créer un nouveau
							compte </a> <span class="mr-1 ml-1 txt1">|</span> <a class="txt1"
							th:href="@{/login/}"> Mot de passe retrouvé? </a>
					</div>
				</form>
			</div>
		   <div class="d-none d-md-block col-md-4"></div>
			<!-- Footer -->
			<div class="col-sm-12 mt-5">
				<div class="copyright text-center my-auto">
					<span>Copyright &copy; 2019 All Right Reserved designed by <a
						target="_blank" href="https://www.snsoftware.com"
						class="text-info">SnSoftware</a></span>
				</div>
			</div>
			<!-- Footer -->
		</div>
	</div>
	</div>


	<div id="dropDownSelect1"></div>
	<!--===============================================================================================-->
	<script th:src="@{/js/main.js}"></script>

</body>
</html>