<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/main.html}">
<head>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">
<title>Perfomances</title>
</head>
<body>
	<div class="container-fluid" layout:fragment="content" data-ng-controller="ObjectifIndicatorCtrl" data-ng-init="getObjectifs()">
		<!-- Page Heading -->
		<div th:replace="fragments/main_content_heading::heading(heading_text='Dynamiques perfromences')"></div>
		<!-- Content Row -->
		<div class="row">
			<div class="col-sm-12">
			  <!-- card from start with p -->
				<div th:if="${startWith=='p'}" class="card">
					<div class="card-header"></div>
					<div class="card-body">
						<h5 class="card-title">Processessus évaluation</h5>
						<div th:if="${processes != null and !processes.isEmpty()}" class="list-group">
							 <button type="button" th:each="p : ${processes}" class="list-group-item p-0 mb-3 text-left" 
							 		data-toggle="collapse" th:data-target="${'#collapsetasks'+p.id}" role="button" aria-expanded="false" aria-controls="collapsetasks">
							 	<div th:class="${p.dynamicPerformance >=100 ? 'bg-success text-white p-3' : p.dynamicPerformance <=1 ? 'bg-secondary text-white p-3' : 'bg-info text-white p-3'}">
							 	<span th:text="${p.label}"></span>
							 	 <h5 class="d-inline-block float-right">
							 	   <i class="fas fa-eye text-white" title="Afficher les tâches"
							 	    th:class="${'fas fa-eye text-white fa-eye'+p.id}" th:data-replace="${'fa-eye-slash'+p.id}"></i>
							 	   <i class="fas fa-eye-slash d-none text-white" th:class="${'fas fa-eye-slash d-none text-white fa-eye-slash'+p.id}" 
							 	   	   th:data-replace="${'fa-eye'+p.id}" title="Cachez les tâches"></i>
							 	 </h5>
							 	 <h5 class="d-inline-block float-right">
							 	 	<span class="badge badge-primary badge-pill" th:text="${p.dynamicPerformance+'%'}"
							 	 		  th:class="${p.dynamicPerformance >=100 ? 'badge badge-success badge-pill'
							 	 			   : p.dynamicPerformance <=1 ? 'badge badge-secondary badge-pill' : 'badge badge-info badge-pill'}"></span>
							 	 </h5>
							 	</div>
								<ul th:if="${p.tasks != null and !p.tasks.isEmpty()}" th:id="${'collapsetasks'+p.id}" class="list-group collapse">
									 <li th:each="t : ${p.tasks}" class="list-group-item">
									 	<div>
									 		<span th:text="${t.name}"></span>
							 	 			<span th:class="${t.dynamicPerformance >=100 ? 'badge badge-default text-success badge-pill float-right'
							 	 			                   : t.dynamicPerformance <=1 ? 'badge badge-default text-danger badge-pill float-right'
							 	 			                    : 'badge badge-default text-info badge-pill float-right'}"
							 	 			      class="badge badge-primary badge-pill float-right" th:text="${t.dynamicPerformance+'%'}"></span>
									 	</div>
									 </li>
								 </ul>
								 <h5 th:if="${p.tasks == null or p.tasks.isEmpty()}" th:id="${'collapsetasks'+p.id}"
								 	 class="list-group collapse text-center text-info p-5 pb-5">Zéro tâche trouvée pour ce process
								 </h5>
							 </button>
						</div>
					</div>
				</div>
				<!-- end card for start with p -->
			</div>
		</div>
	</div>
	<div layout:fragment="addon-scripts-content">
	</div>
</body>
</html>
