<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/main.html}">
<head>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">
<title>Tâches utilisateur</title>
</head>
<body>
	<div class="container-fluid" layout:fragment="content" data-ng-controller="TaskCtrl" data-ng-init="getTasks();">
		<!-- Page Heading -->
		<div th:replace="fragments/main_content_heading::heading(heading_text='Liste de vos tâches',heading_link='/Task/',heading_link_text='Actualiser',heading_ico='fas fa-sync')"></div>
		<!-- content -->
			<div class="class row "  data-ng-controller="ImpactCtrl" data-ng-init="getProcess();getImpacts();">
				<div class="col-sm-12">
					<div class="card border-0 p-0 bg-transparent">
						<div class="card-body p-0 bg-info">
							<table class="table table-sm table-responsive-sm table-hover table-bordered mt-3 bg-light">
								<thead class="text-info text-uppercase text-left">
								<tr>
									<td colspan="30">
										
							<!--=========== row de control ================-->
							<div class="row ml-1 mr-1">
								<div class="d-none col-md-2 form-group">
									<label class="control-label"><small>Max lignes/page :</small></label> <input type="number" min="1"
										data-ng-model="size"
										class="form-control form-control-sm"
										data-ng-change="getTasks();"/>
								</div>
								<div class="d-none d-md-block col-md-2 form-group">
									<label class="control-label"><small>Trier par :</small></label>
									<select data-ng-model="orderField"
										class="form-control form-control-sm">
										<option value="id">Numéro d'enregistrement</option>
										<option value="storeAt">Date Intégration</option>
										<option value="name">Nom</option>
									</select>
								</div>
								<div class="d-none d-md-block col-md-2 form-group">
									<label class="control-label"><small>Ordre :</small></label> <select
										data-ng-model="orderFieldReverse"
										class="form-control form-control-sm">
										<option value="-" selected="selected">Déscendant</option>
										<option value="+">Ascendant</option>
									</select>
								</div>
								<div class="col-sm-6 col-md-2  form-group">
									<label class="control-label"><small>Status process :</small></label>
									 <select data-ng-model="$parent.processLunshed" class="form-control form-control-sm"
										data-ng-change="getTasks();">
										<option value="true">Process démarrés</option>
										<option value="false">Process non démarrés</option>
									</select>
								</div>
								<div class="col-sm-6 col-md-3  form-group">
									<label class="control-label"><small>Catégorie :</small></label>
									 <select data-ng-model="$parent.status" class="form-control form-control-sm"
										data-ng-change="getTasks();">
										<option value="completed">Traitement terminé</option>
										<option value="all">Toutes les tâches</option>
									</select>
								</div>
								<div class="col-sm-6 col-md-3  form-group">
									<label class="control-label"><small>Rechercher :</small></label> <input type="text"
										data-ng-model="$parent.searchField"
										class="form-control form-control-sm"
										placeholder="Rechercher par nom ou description..."
										data-ng-change="getTasks();" />
								</div>
							</div>
							<!-- ========== end row de control =====-->
									</td>
								</tr>
									<tr>
										<th class="text-left pl-3">Nom de la tâche</th>
										<th class="text-center">Description</th>
										<th  class="text-center">Libellé du process</th>
										<th class="text-center">Niveau de priorité</th>
										<th class="text-center">STATUS</th>
									</tr>
								</thead>
								<tbody class="text-center">
									<tr data-ng-if="tasks.length>0"
										data-ng-repeat="task in tasks | orderBy:orderFieldReverse+orderField">
										<td class="text-left pl-3">{{replaceWithNullOrBlank(task.name,"Sans nom")}}</td>
										<td> 
											<i data-ng-if="task.description != null && task.description != ''" 
											data-modalTitle="{{task.name}}" data-description="{{task.description}}"
											class="fas fa-font cursor-pointer text-primary modalDescriptionShower"
											 title="Description textuelle" onClick="showDescription(this);"></i>
											<span data-ng-if="task.description == null || task.description == ''">Aucune description</span>
											<a data-ng-if="task.dbFileDescription != null" th:href="@{/Task/File/Description/Show/{{task.id}}}" 
											   target="_blank" class="ml-3" title="voir la description en fichier"><i class="fas fa-file-pdf"></i></a>
										</td>
										<td class="text-center">
											{{replaceWithNullOrBlank(task.processLabel,"Process introuvable")}}
										</td>
										<td class="text-center">Niveau {{replaceWithNullOrBlank(task.priorityLevel,"1")}}</td>
										<td class="text-center">
											<a data-ng-if="task.processLunched && task.startAt != null && task.status == 'started'" href="#" title="Marquez comme traitement fini"
												data-ng-class="{'d-none' : task.status != 'started'}"
												class="text-decoration-none mr-3 border"  id="validTaskButton"
												 data-taskId="{{task.id}}" data-taskNewStatus="completed">
												<small class="task_status_changer" data-taskId="{{task.id}}" data-taskNewStatus="completed" 
												data-repalace="#completedTaskButton" data-ng-click="changeTaskStatus($event);">Traitement encours</small>
												<i class="fas fa-thumbs-up fa_table_link text-success p-1 border-left" data-taskId="{{task.id}}"
												 data-taskNewStatus="completed"  data-ng-click="changeTaskStatus($event);"></i>	
											</a>
											<a data-ng-if="task.processLunched && task.startAt != null && task.status == 'completed'" href="#" title="Mettre en reprise de traitement"
												data-ng-class="{'d-none' : task.status != 'completed'}" 
												class="text-decoration-none mr-3 border" id="completedTaskButton"
												data-taskId="{{task.id}}" data-taskNewStatus="started">
												<small class="" data-taskId="{{task.id}}">Traitement Terminé</small>
											</a>
											<small data-ng-if="task.processLunched && (task.startAt == null || task.status == 'valid')" class="text-danger">Tâche non démarrée !</small>
											<small data-ng-if="!task.processLunched" class="text-danger">Process non démarré !</small>
											<!-- validate status control -->
											<span data-ng-if="task.status == 'completed'">
												<small class="badge badge-danger cursor-pointer ml-2"
												       title="Relancez le traitement" data-ng-click="relunchTask(task.id);">Relancer</small>
											</span>
											<span data-ng-if="task.status == 'completed'">
											    <i class="fas fa-file text-info cursor-pointer ml-3" 
											       data-taskModalTile="Fichier de validation de la tâche : {{task.name}}"
											        title="Fichier de validation" data-taskId = "{{task.id}}" onClick="showModalTaskValidationFile(this);"></i>
											</span>
											<span data-ng-if="task.status == 'canceled'" class="text-danger"> Tâche annulée</span>
											<!-- validate status control -->
											<!-- <div data-ng-if="task.processLunched && task.status == 'valid' && task.processExpired" class="d-inline-block text-right">
												<small>Justifications({{task.justifications.length}})</small>
												<i data-ng-if="task.justifications.length>0" class="fas fa-eye cursor-pointer" title="afficher"
												data-processId="{{task.processId}}" data-taskId="{{task.id}}" data-ng-click="showModalEditJustificationWithOutNewForm($event)"></i>
												<i class="fas fa-plus-circle cursor-pointer" title="Ajouter"
												   data-processId="{{task.processId}}" data-taskId="{{task.id}}" data-ng-click="showModalEditJustificationWithNewForm($event)"></i>
											</div> -->
										</td>
									</tr>
									<tr data-ng-if="tasks.length<=0">
										<td colspan="30"  class="text-center">
											<h5>Zéro tâche trouvé !</h5>
										</td>
									</tr>
								</tbody>
							</table>
							<!-- =========== PAGINATION ============= -->
							<nav aria-label="..." data-ng-if="pages.length>0" class="">
								<ul class="pagination float-right" style="margin:-12px 1px 3px 1px;">
									<!--<li class="page-item" data-ng-if="{pages.length-$parent.page>1}">
										<a class="page-link" href="#" tabindex="-1">Previous</a>
									</li> -->
								   <li data-ng-repeat="p in pages" class="page-item" 
								   	     data-ng-class="{'active': $parent.page==p}">
								   		<button  type="button" class="page-link" data-pageIndex="{{p}}" 
								   		data-ng-click="changePage($event)">{{p+1}}</button>
								   </li>
								   <!-- <li class="page-item"><a class="page-link" data-ng-if="false">Next</a></li> -->
								</ul>
							</nav>
							<!-- ================ AND PAGINATION -->
						</div>
					</div>
				</div>
			    <!-- moadal edit or show justification-->
			  	<div th:replace="fragments/modal_justification::modal_justification"></div>
			<!-- Modal task description-->
				<div class="modal fade" id="modalDescription" tabindex="-1" role="dialog" aria-labelledby="modaldefaultUserPhoto" aria-hidden="true">
				  <div class="modal-dialog" role="document">
				    <div class="modal-content">
				      <div class="modal-header bg-info text-white">
				        <h5 class="modal-title" id="modalDescriptionTitle">Description</h5>
				        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
				          <span aria-hidden="true">&times;</span>
				        </button>
				      </div>
				      <div class="modal-body text-center">
				      		<div class="card-title text-info font-weight-bold">Description</div>
				      		<div class="mb-2 p2" id="modalDescriptionBody"></div>
				      </div>
				    </div>
				  </div>
				</div>
			<!--  Modal task file validation editor loading-->
			<div th:replace="fragments/taskValidationFileModal::modalTaskValidationFile"></div>
			</div>
	</div>
	<div layout:fragment="addon-scripts-content">
		<script type="text/javascript">
		 $(document).ready(function(){
			 $("#taskValidationFileForm").on("submit",function(e){
				e.preventDefault(); 
				submitTaskValidationFileForm();
			 });
		 });
			// show task description
		 function showDescription(element){
		 	element  = $(element);
			title = $(element).attr('data-modalTitle');
			description = $(element).attr('data-description');
			$("#modalDescriptionTitle").text(title);
			$("#modalDescriptionBody").text(description);
			$("#modalDescription").modal('show');
		 };
		 // show file validation task modal from editor
		 function showModalTaskValidationFile(element){
			 element = $(element);
			 taskId = element.attr('data-taskId');
			 $("#validationFormtaskId").val(taskId);
			 $("#modalTaskValidationFileTile").text(element.attr("data-taskModalTile"));
			 $("#taskValidationFileBtnShower").attr("href", "/Task/File/validation/Show/"+taskId);
			 showOrHideTaskvalidationFileBtnShower(taskId);
			$("#modalTaskValidationFile").modal('show');
		 };
		 
		 function submitTaskValidationFileForm(form){
		    var taskid = $("#validationFormtaskId").val();
		    var form = $("#taskValidationFileForm")[0];
		    var data = new FormData(form);
		    $.ajax({
		        type: "POST",
		        enctype: 'multipart/form-data',
		        url: "/Task/EditValidationFile",
		        data: data,
		 
		        // prevent jQuery from automatically transforming the data into a query string
		        processData: false,
		        contentType: false,
		        cache: false,
		        timeout: 1000000,
		        dataType : 'json',
		        success: function(result) {
		        	if(result.status == true){
						 $("#taskValidationFileBtnShower").removeClass('d-none');
						 $(".modalErrorContainer").removeClass('text-danger').addClass("text-success").text(result.msg);
		        	}else{
		        		 $("#taskValidationFileBtnShower").addClass('d-none');
		        		$(".modalErrorContainer").removeClass('text-success').addClass("text-danger").text(result.msg);
		        	}
		        	setInterval(function(){
		        		$(".modalErrorContainer").text("");
		        	},5000);
		        },
		        error: function(e) {  
		 			console.log(e);
		        }
	 		});
		 };
		 
		 function showOrHideTaskvalidationFileBtnShower(taskId){
		    $.ajax({
		        type: "get",
		        enctype: 'multipart/form-data',
		        url: "/Task/CheckTaskvalidationFile",
		        data : {tid : taskId},
		        dataType :'json',
		        success: function(data) {
			        if(data.result == true)
						 $("#taskValidationFileBtnShower").removeClass('d-none');
				 	else
					 	$("#taskValidationFileBtnShower").addClass('d-none');
		        },
		        error: function(e) {  
		 			console.log(e);
		        }
	 		});
		 };
		</script>
	</div>
</body>
</html>
