<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/martial.html}">
<head>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">
<title>Process-tâches edition</title>
<script th:src="@{/js/jquery.scrollTo.min.js}"></script>
<link href="http://www.jqueryscript.net/css/jquerysctipttop.css"
	rel="stylesheet" type="text/css">
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/svg.js/1.0.1/svg.min.js"
	th:src="@{/js/svg.js}"></script>
<script th:src="@{/js/flowsvg.js}"></script>
</head>
<body>
	<div class="container-fluid" layout:fragment="content">
		<!-- Page Heading -->
		<div th:replace="fragments/main_content_heading::heading(heading_text='Tâche-edition',heading_link='/Process/List/',heading_link_text='Liste des process',heading_ico='fas fa-arrow-alt-circle-left')"></div>
		<!-- row content -->
			<div class="row" th:if="${task}">
				<div class="col-sm-12 col-md-6 offset-md-3">
					<div class="card">
						<div class="card-header bg-info text-white">
							<h5>
								<span th:if="${task.id}" th:text="${' Mise à jour de la tâche : '+task.name+' du processus '+process.label}">Mise à jour d'une tâche</span> 
								<span th:if="!${task.id}" th:text="${'Nouvelle tâche du process : '+process.label}">Nouveau process</span>
								<a th:href="@{/Process/Task/Edit(sid=${param.sid},pid=${param.pid})}" th:if="${task.id}" class="btn-floating waves-effect waves-light d-inline-block float-right"><i class="material-icons">+</i></a>
							</h5>
						</div>
						<div class="card-body pb-0">
							<form th:action="@{/Process/Task/Edit(pid=${param.pid},tid=${param.tid})}" th:object="${task}" method="post" 
							 enctype="multipart/form-data" class="mshz-form-validate pb-0">
								<input type="hidden" th:field="*{id}"/>
								<!-- <input type="hidden" th:field="*{section}"/> -->
								<div class="row p-0">
									<div class="col-sm-12 col-md-12 p-0">
										<div class="row">
											<div th:if="${errorMsg}" class="col-sm-12">
												<div class="text-center" th:replace="fragments/alert::flash-danger(body=${errorMsg})"></div>
											</div>
											<div th:if="${successMsg}" class="col-sm-12"> 
												<div class="text-center" th:replace="fragments/alert::flash-success(body=${successMsg})"></div>
											</div>
											<div class="form-group col-sm-12 col-md-6 s12 input-field">
												<label class="ml-2">Entrez le libellé ou le nom de la tâche</label>
												<input type="text" name="label" th:field="*{name}" placeholder=""
												class="form-control form-control-sm" data-mshz-required="true"/>
												<div class="invalid-feedback">Donnez un nom à la tâche !</div>
											</div>
											<div class="form-group col-sm-12 col-md-6 s12 input-field" th:if="${sections.size()>0}">
												 <select th:field="*{section}" class="from-control form-control-sm">
												 	<option th:each="sect : ${sections}" th:value="${sect.id}" th:text="${sect.name}"></option>
												 	<option value="">Nouvel section</option>
											    </select>
											    <label class="ml-2">Section ou ligne de séquance en affichage</label>
											</div>
											<div class="form-group col-sm-12">
												<label class="font-weight-bold" style="font-size:15px;">Renseignez la durée effective de la tâche :</label>
												<div class="row">
													<div class="col-sm-6 col-md-3">
															<label>Année(s) :</label>
															<input type="number" min="0" step="1" name="nbYears" th:field="*{nbYears}" placeholder="Entrez le nombre d'années.."
															class="form-control form-control-sm"/>
													</div>
													<div class="col-sm-6 col-md-2">
															<label>Mois(s) :</label>
															<input type="number" min="0" step="1" name="nbMonths" th:field="*{nbMonths}" placeholder="Entrez le nombre de mois.."
															class="form-control form-control-sm"/>
													</div>
													<div class="col-sm-6 col-md-2">
															<label>Jour(s) :</label>
															<input type="number" min="0" step="1" name="nbDays" th:field="*{nbDays}" placeholder="Entrez le nombre de jours.."
															class="form-control form-control-sm"/>
													</div>
													<div class="col-sm-6 col-md-2">
															<label>Heure(s) :</label>
															<input type="number" min="0" step="1" name="nbHours" th:field="*{nbHours}" placeholder="Entrez le nombre d'heures.."
															class="form-control form-control-sm"/>
													</div>
													<div class="col-sm-6 col-md-3">
															<label>Minutes(s) :</label>
															<input type="number" min="0" step="1" name="nbMinuites" th:field="*{nbMinuites}" placeholder="Entrez le nombre des minutes.."
															class="form-control form-control-sm"/>
													</div>
												</div>
											</div>
											<!--  description content manager -->
											<div class="form-group col-sm-12 col-md-4"> 
												Type de description : 
											</div>
											<div class="form-group col-sm-12 col-md-8 text-center">
												<label>
											      <input class="with-gap radiodescriptionFileAndText" type="radio" name="radiodescription" value="1" checked/>
											      <span>Textuelle & fichier</span>
											    </label>
												<label>
											      <input class="with-gap radiodescriptionText" type="radio" name="radiodescription" value="2"/>
											      <span>Textuelle</span>
											    </label>
												<label>
											      <input class="with-gap radiodescriptionFile" name="radiodescription" type="radio" value="3" />
											      <span>Fichier</span>
											    </label>
											</div>
											<div class="form-grup col-sm-12 col s12 input-field descriptionTextContainer">
												<textarea rows="2" cols="1" placeholder="Tappez la description textuelle ici.."
												th:field="*{description}" class="materialize-textarea"></textarea>
											</div>
											<div class="form-group col-sm-12 descriptionFileContainer">
												<label>Fichier de scription :</span></label>
												<input type="hidden" th:field="*{fileDescriptionPath}" id="photo"/>
												<input type="file" id="file" name="fileDescription" accept="application/pdf" class="form-control form-control-sm  d-none"/>
												<a href="#" class="border form-control form-control-sm btn btn-sm in_edition file_filed_trigger">
													<span class="photo-loader-label" th:text="${task.fileDescriptionPath}">Charger une fichier de description </span>
													<i class="fas fa-file float-right mt-1 text-primary"  style="font-size:15px;"></i>
												</a>
												<div class="invalid-feedback">Le fichier n'est pas valide!</div>
											</div>
											<!-- end description content manager -->
											<div class="form-group col-sm-12 col-md-6 input-field s12"> 
												 <select th:field="*{type}" class="">
												 <option value="process">Choisissez le type de la tâche</option>
											      <option value="start">Debut</option>
											      <option value="process">Activité</option>
											      <option value="sub_process">Sous-activité</option>
											      <option value="doc">Document</option>
											      <option value="finish">Fin</option>
											    </select>
											    <label class="ml-2">Type de la tâche </label>
											</div>
											<div class="form-group col-sm-12 col-md-6 s12 input-field" th:if="${task.id}"> 
												 <select th:field="*{status}">
												 <option value="valid">Séléctionner un status de la tâche</option>
											      <option value="valid">Non démarrée</option>
											      <option value="started">Démarrée</option>
											      <option value="canceled">Annulée</option>
											      <option value="completed">Traitée</option>
											    </select>
											    <label class="ml-2">Etat </label>
											</div>
											<div class="form-group col-sm-12 col-md-6 s12 input-field" th:if="!${task.id}"> 
												 <select th:field="*{status}">
											      <option value="valid" selected>En attente de démarrage</option>
											    </select>
											    <label class="ml-2">Etat initial</label>
											</div>
											<!-- user integration -->
												<div class="form-group col-sm-12 col-md-4"> 
													Utilisateurs associés par : 
												</div>
												<div class="form-group col-sm-12 col-md-8 text-center">
													<label>
												      <input class="with-gap radioSectionWithGroupAndusers" type="radio" name="grouprodio" value="1"
												      th:checked="!${task.id} or (${task.group} and ${task.users.size()>0})"/>
												      <span>Groupe & utilisateurs</span>
												    </label>
													<label>
												      <input class="with-gap radioSectionWithGroup" type="radio" name="grouprodio" value="2"
												      th:checked="${task.id} and ${task.group} and ${task.users.size()<=0}"/>
												      <span>Groupe</span>
												    </label>
													<label>
												      <input class="with-gap radioSectionWithNotGroup" name="grouprodio" type="radio" value="3"
												      th:checked="${task.id} and !${task.group} and ${task.users.size()>0}" />
												      <span>utilisateurs</span>
												    </label>
												</div>
												<div class="form-group col-sm-12 input-field sectionUserFormGroup col s12">
													 <select th:field="*{users}" class="from-control form-control-sm" multiple>
												      <option th:each="user : ${users}" th:value="${user.id}" th:text="${user.firstname + ' '+user.lastname}"></option>
												    </select>
											    	<label>Selectionez les utilisateurs</label>
												</div>
												<div class="form-group col-sm-12 col-md-6 input-field col s12">
													 <select th:field="*{validator}" class="from-control form-control-sm">
												      <option value="">Selectionez le validateur du status de la tâche</option>
												      <option th:each="user : ${users}" th:if="${user.firstname != null || user.lastname != null}" th:value="${user.id}" th:text="${user.firstname + ' '+user.lastname}"></option>
												    </select>
											    	<label>Validateur de la tâche</label>
												</div>
												<div class="form-group col-sm-12 col-md-6 input-field sectionGroupFormGrouop col s12">
													 <select th:field="*{group}" class="from-control form-control-sm">
												      <option th:each="group : ${groups}" th:value="${group.id}" th:text="${group.name}"></option>
												    </select>
												     <label>Séléctionnez le groupe des utilisateurs associé</label>
												</div>
											<!-- end users integration -->
											<div class="form-group col-sm-12 col-md-6 input-field col s12" th:if="${tasks.size()>0}"> 
												 <select th:field="*{parent}" class="from-control form-control-sm">
											      <option th:each="t: ${tasks}" th:value="${t.id}" th:text="${t.name}">Tache parente</option>
											    </select>
												 <label>Choisissez la tâche précédente</label>
											</div>
											<div class="form-group col-sm-12 col-md-6 input-field col s12" th:if="${tasks.size()>0}"> 
												 <select th:field="*{lunchingByProcess}">
											      <option value="true">Démarre en même temps que le process</option>
											      <option value="false">Attendre que la tâche précédente soit traitée</option>
											    </select>
												 <label>Condition de démarrage de la tâche</label>
											</div>
											<div class="form-group col-sm-12 mb-0">
												<button type="submit" class="btn btn-sm btn-outline-info float-right">Enregistrer</button>
											</div>
										</div>
									</div>
									<!-- col  --
									<div class="col-sm-12 col-md-6">
										<div class="row">
											<div class="form-group col-sm-12 input-field">
												 <select th:field="*{noProcessId}" class="from-control form-control-sm">
											      <option value="">Séléctionnez les intervenant du process</option>
											      <option th:each="user : ${users}" th:value="${user.id}" th:text="${user.firstname + ' '+user.lastname}"></option>
											    </select>
											</div>
										</div>
									</div>
									end col emps -->
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		<!-- row content -->
	</div>
	<div layout:fragment="addon-scripts-content">
		<script type="text/javascript">
			$(document).ready(function(){
				chowgroupOrUserSection();
				chowTextOrFileDescription();
				$(".radioSectionWithGroup, .radioSectionWithNotGroup, .radioSectionWithGroupAndusers").on("click",function(){
					chowgroupOrUserSection();
				});
				
				$(".radiodescriptionFileAndText, .radiodescriptionText, .radiodescriptionFile").on("click",function(){
					chowTextOrFileDescription();
				});
			});
			
			function chowgroupOrUserSection(){
				if($(".radioSectionWithGroup").is(":checked")){
					$(".sectionGroupFormGrouop").removeClass("d-none");
					$(".sectionUserFormGroup").addClass("d-none");
				}
				if($(".radioSectionWithNotGroup").is(":checked")){

					$(".sectionGroupFormGrouop").addClass("d-none");
					$(".sectionUserFormGroup").removeClass("d-none");
				}
				if($(".radioSectionWithGroupAndusers").is(":checked")){
					$(".sectionGroupFormGrouop").removeClass("d-none");
					$(".sectionUserFormGroup").removeClass("d-none");
				}
				
			}
			
			function chowTextOrFileDescription(){
				if($(".radiodescriptionText").is(":checked")){
					$(".descriptionTextContainer").removeClass("d-none");
					$(".descriptionFileContainer").addClass("d-none");
				}
				if($(".radiodescriptionFile").is(":checked")){

					$(".descriptionTextContainer").addClass("d-none");
					$(".descriptionFileContainer").removeClass("d-none");
				}
				if($(".radiodescriptionFileAndText").is(":checked")){
					$(".descriptionFileContainer").removeClass("d-none");
					$(".descriptionTextContainer").removeClass("d-none");
				}
				
			}
		</script>
		<script type="text/javascript" th:src="@{/js/profile.js}"></script>
	</div>
</body>
</html>
